@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Erro!
    <a href="." class="reload">Recarregar página</a>
    <span class="dismiss">🗙</span>
</div>
